{% load i18n compress %}
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Kiroletik Behe Bidasoa eskualdeko
    kirolaren inguruan informazioa euskaraz jasotzen duen ataria da.">
    <meta name="keywords" content="kiroletik, kirola, behe bidasoa, txingudi,
    euskara">
    <meta name="author" content="Unai Oiartzun Irastorza">
    <link rel="shortcut icon" href="/static/images/favicon.png" />
    {% compress css %}
    <link crossorigin rel="stylesheet" type="text/x-sass" href="/static/css/main.sass" />
    {% endcompress %}
    {% compress js %}
    <script src="/static/bower_components/zepto/zepto.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/app.js" type="text/javascript" charset="utf-8"></script>
    {% endcompress %}
    <title>{% block title %}Kiroletik{% endblock title %} | Kiroletik</title>
  </head>
  <body>
    <header>
      <hgroup>
        <h1><a href="/">Kiroletik</a></h1>
      </hgroup>
      <nav>
        <ul id="mainNav">
          {% for flatpage in flatpages %}
          <li><a href="{{ flatpage.get_absolute_url }}">{{ flatpage }}</a></li>
          {% endfor %}
          <li><a href="{% url 'season-list' %}">{% trans 'Results' %}</a></li>
          {% for sport in sports.on_menu %}
          <li><a href="{{ sport.get_absolute_url }}">{{ sport }}</a></li>
          {% endfor %}
          <li id="others">
              <a href="">{% trans 'Others' %}<span><span class="arrow"></span></span></a>
            <ul id="subNav">
              {% for sport in sports.not_on_menu %}
              <li><a href="{{ sport.get_absolute_url }}">{{ sport }}</a></li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </nav>
    </header>

    <div id="wrap">

      <div id="banner">
        <img src="{{ banner.image.url }}" alt="kiroletik" />
      </div>

      <main>
        {% block content %}
        {% endblock content %}
      </main>

      <aside>
        {% block aside %}
        {% if sport %}
        <ul class="championships">
          {% for championship in sport.championship_set.select_related %}
          <li>
              <a {% if championship.season_set.exists %}href="{{ championship.get_absolute_url }}"{% endif %}>{{ championship }}</a>
            <ul>
              {% for season in championship.season_set.select_related|slice:":10" %}
              <li><a href="{{ season.get_absolute_url }}">{{ season }}</a></li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        {% for widget in widgets %}
        {{ widget.content|safe }}
        {% endfor %}
        {% endif %}
        {% endblock aside %}
      </aside>
    </div>

    <footer>
      <p><a rel="license"
              href="http://creativecommons.org/licenses/by-sa/4.0/"><img
              alt="Creative Commons-en baimena" style="border-width:0"
              src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"
              /></a><span xmlns:dct="http://purl.org/dc/terms/"
              property="dct:title">Kiroletik</span> lana, <a
              xmlns:cc="http://creativecommons.org/ns#"
              href="http://kiroletik.eus" property="cc:attributionName"
              rel="cc:attributionURL">PausuMedia</a> egilearena, <a
              rel="license"
              href="http://creativecommons.org/licenses/by-sa/4.0/">Creative
              Commons Aitortu-PartekatuBerdin 4.0 Nazioartekoa baimen baten
              mende dago</a>.</p>
          <img id="gfa" src="/static/images/gfa.png" alt="GFA" />
    </footer>
  </body>
</html>
