aside
    background: grey
    width: 24%
    display: inline-block
    margin: 0
    vertical-align: top
    box-sizing: border-box
    padding: 1rem
    font-size: 1rem
    img
        max-width: 100% !important
    a
        font-weight: bold
        text-decoration: none
    p
        border-bottom: .1rem solid adjust-color(black, $lightness:40)
        padding-bottom: 1rem
    p:first-child
        margin-top: 0
