body
    background: adjust-color(black, $lightness:95)
    margin: 0

header #mainHeader, div#wrap
    width: 85%
    margin: 0 auto
    max-width: 1200px
header
    background: adjust-color(black, $lightness:10)

