body
    background: adjust-color(black, $lightness:95)
    margin: 0
    font-family: $sans

header #mainHeader, div#wrap
    width: 85%
    margin: 0 auto
    max-width: 1200px

header
    background: adjust-color(black, $lightness:10)
    padding: 1rem 0
    hgroup
        font-family: $display
        display: inline-block
        position: relative
        vertical-align: center
        h1
            font-size: 2.5rem
            border-top: .1em solid adjust-color(white, $lightness:-30)
            border-bottom: .1em solid adjust-color(white, $lightness:-30)
            display: inline-block
            padding: .3em .7em .1em .7em
            color: adjust-color(white, $lightness:-30)
        h2
            font-size: 1.45em
            width: 100%
            text-align: center
            color: adjust-color(white, $lightness:-85)
            position: absolute
            left: 0
            bottom: 0
        h1, h2
            margin: 0

