footer
    padding: 1rem 0
    width: 75%
    img
        margin-right: 1rem
        vertical-align: middle
    p
        width: 65%
        color: adjust-color(white, $lightness:-30)
        font-size: .7rem
        display: inline-block
        a
            color: adjust-color(white, $lightness:-30)
            text-decoration: none
    img#gfa
      width: 10%
      text-align: right
