nav
    display: inline-block
    vertical-align: center
    ul
        li
            list-style: none
            display: inline-block
            font-size: 1.2rem
            padding-right: 1em
            a
                color: adjust-color(white, $lightness:-30)
                text-decoration: none
                text-transform: lowercase
                font-variant: small-caps
    ul#subNav
        display: none
