article.news
    margin-bottom: 4rem
    p.date, img.sport, h3.sport
        display: inline-block
        margin: 0
    p.date
        font-size: .7rem
        margin-right: 1em
    img.sport
        width: 3%
        background: $orange
        vertical-align: middle
    h3.sport
        color: $orange
        font-size: 1rem
        margin-right: .3em
    h1
        margin-top: .3em
        a
            text-decoration: none

//article.news:first-child
    p.date1
        font-size: .9rem
    img.sport
        width: 5%
    h3.sport
        font-size: 1rem
    h1
        font-size: 1.5rem

