img.sport_type_icon
    width: 4rem
    vertical-align: bottom
    margin-bottom: 2rem
h1.sport_type
    color: $orange
    font-variant: small-caps
    text-transform: uppercase
    margin-top: 0
    display: inline-block
    margin-bottom: 2rem
article.news
    margin-bottom: 5rem
    clear: both
    overflow: hidden
    line-height: 1.5em
    text-align: justify
    div#mainImage
        display: none
    img.newsSportIcon
        float: none
        margin: 0
    h1
        margin: .3em 0 1em 0
        line-height: 1.5em
        a
            text-decoration: none
    h2
        font-size: 1.1rem
    img.sportImage
        max-width: 40%
        margin: 0 2em 1em 0
        float: left
        @media screen and (max-width: 1200px)
            float: none
            display: block
            max-width: 100%
            margin-top: 2em
        &.not_antagonistic
            display: inline-block
            float: none
            margin: 0 0 4% 0
            max-width: 64%
            vertical-align: top
            @media screen and (max-width: 1200px)
                display: block
                max-width: 100%
                margin-top: 2em
    ul.matchResult
        display: inline-block
        width: 30%
        margin: 0 5% 3% 0
        @media screen and (max-width: 1200px)
            display: block
        &.antagonistic
            float: none
            width: inherit
    p
        line-height: 1.5em
        text-align: justify
p.newsDate, img.newsSportIcon, h3.newsSport
    display: inline-block
    margin: 0
    vertical-align: bottom
p.newsDate
    font-size: .8rem
    font-weight: bold
    color: #222222
    margin-right: .7em
img.newsSportIcon
    width: 3%
    margin-right: .3em
h3.newsSport
    margin-right: 1em
    a
        color: $orange
        font-size: 1rem
        text-decoration: none

article.highlighted
    a#mainImage
        display: block
        width: 100%
        height: 25rem
    h1, div.newsDetails
        background: #222222
        padding: .5em .5em 0 .5em
    h1
        font-size: 2rem
        margin: 0 0 1em 0
        padding: .2em .5em .5em .5em
        a
            color: #f1f1f1
    img.sportImage
        display: none
    p.newsDate
        color: #f1f1f1
        padding-left: .5em


