@font-face
    font-family: "Bebas Neue"
    src: url(/static/fonts/BebasNeue.otf)

@font-face
    font-family: Lato
    src: url(/static/fonts/lato/Lato-Regular.ttf)

$display: "Bebas Neue"
$sans: Lato
$orange: #aa4400

=fit-content
    width: fit-content
    width: -moz-fit-content
    width: -webkit-fit-content
    width: -o-fit-content
    width: -ms-fit-content
