{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% if sport %}{{ sport }}{% else %}{% trans 'Latest News' %}{% endif %}{% endblock title %}

{% block content %}
{% if sport %}
{% if sport.image %}
<img class="sport_type_icon" src="{{ sport.image.url }}" />
{% endif %}
<h1 class="sport_type">{{ sport }}</h1>
{% endif %}

{% for news in news_list %}
<article class="news list{% if forloop.first and page_obj.number == 1 %} highlighted{% endif %}">
  {% if news.image %}
  <a href="{{ news.get_absolute_url }}" id="mainImage" style="background: url('{{ news.image.url }}'); background-size: cover; background-position: center center">
  </a>
  {% endif %}
  <div class="newsDetails">
    <p class="newsDate">{{ news.published|date:"Y-m-d" }}</p>
    {% if news.sport %}
    {% if news.sport.image %}
    <a href="{{ news.sport.get_absolute_url }}"><img class="newsSportIcon" src="{{ news.sport.image.url }}" /></a>
    {% endif %}
    <h3 class="newsSport"><a href="{{ news.sport.get_absolute_url }}">{{ news.sport }}</a></h3>
    {% endif %}
  </div>
  <h1><a href="{{ news.get_absolute_url }}">{{ news }}</a></h1>

  {% for match in news.matches.select_related %}
  <ul class="matchResult {% if match.is_antagonistic %}antagonistic{% endif %} {% if not match.is_antagonistic %}not_antagonistic{% endif %}">
    {% for team_result in match.teamresult_set.select_related %}
    <li {% if team_result.team.town %}class="local"{% endif %}>{{ team_result.team }} <span class="matchPoints">{{ team_result.points }}</span></li>
    {% endfor %}
  </ul>
  {% if news.image %}
  <img class="sportImage {% if not match.is_antagonistic %}not_antagonistic{% endif %}" src="{{ news.image.url }}" src="{{ news.image.url }}"/>
  {% endif %}
  {% endfor %}

  {{ news.content | truncatewords_html:150 | safe }}
</article>
{% endfor %}

{% include 'pagination.html' with page_obj=page_obj only %}

{% endblock content %}
