{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% if sport %}{{ sport }}{% else %}{% trans 'Latest News' %}{% endif %}{% endblock title %}

{% block content %}

<article class="news">
  {% if sport %}
  <h2>{{ sport }}</h2>

  {% for championship in sport.championship_set.select_related %}
  <a href="{{ championship.get_absolute_url }}">{{ championship }}</a>

  {% for season in championship.season_set.select_related %}
  <a href="{{ season.get_absolute_url }}">{{ season }}</a>
  {% endfor %}
  {% endfor %}
  {% endif %}

  {% for news in news_list %}
  {# The first news will always be the highlighted one #}
  {% if forloop.first %}
  {% endif %}
  <p class="date">{{ news.published }}</p>
  {% if news.sport %}
  <div class="sport">
      {% if news.sport.image %}
      <img src="{{ news.sport.image.url }}" />
      {% endif %}
      <h3>{{ news.sport }}</h3>
  </div>
  {% endif %}
  <h1><a href="{{ news.get_absolute_url }}">{{ news }}</a></h1>
  {% if news.match %}
  {{ news.match }}
  {% endif %}
  {% endfor %}
</article>

{% include 'pagination.html' with page_obj=page_obj only %}

{% endblock content %}
