{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% if sport %}{{ sport }}{% else %}{% trans 'Latest News' %}{% endif %}{% endblock title %}

{% block content %}

{% if sport %}
<h1 class="sport_type">{{ sport }}</h1>

<h2 class="championship_title">{% trans 'Matches' %}</h2>
<ul class="championships">
  {% for championship in sport.championship_set.select_related %}
  <li>
    <a href="{{ championship.get_absolute_url }}">{{ championship }}</a>
    <ul>
      {% for season in championship.season_set.select_related %}
      <li><a href="{{ season.get_absolute_url }}">{{ season }}</a></li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
{% endif %}
</ul>

{% for news in news_list %}
{# The first news will always be the highlighted one #}
{% if forloop.first %}
{% endif %}
<article class="news">
  {% if news.sport %}
  <p class="news_date">{{ news.published|date:"Y-m-d" }}</p>
  {% if news.sport.image %}
  <img class="sport_icon" src="{{ news.sport.image.url }}" />
  {% endif %}
  <h3 class="news_sport">{{ news.sport }}</h3>
  {% endif %}
  <h1><a href="{{ news.get_absolute_url }}">{{ news }}</a></h1>
  {% if news.match %}
  <ul class="match_result {% if news.match.is_antagonistic %}antagonistic{% endif %}">
    {% for team_result in news.match.teamresult_set.select_related %}
    <li>{{ team_result.team }} <span class="match_points">{{ team_result.points }}</span></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if news.image %}
  {% if news.match.is_antagonistic %}
  <img src="{{ news.image.url }}"/>
  {% endif %}
  {% endif %}
  <p>Ion Areitiok ezin izan dio sailkapeneko bigarren postuari eutsi. Bosgarren
      tokian bukatu zuen igandean Munduko Kopako azken proba, Anberesen. Lau
      onenek jokatzen duten superfinaletik kanpo gelditu zen, denboraldi osoan
      lehen aldiz. Rick Koekoek holandarra aurretik izan zuenez, sailkapen
      orokorrean hirugarren gelditu da Areitio azkenean. Abel Mustieles
      aragoarra izan da txapeldun, Munduko Kopako bost probak irabazi
      ondoren.</p>

  <h2>Susperregiren proba onena</h2>
  <p>Gorka Susperregi hondarribiarrak urteko probarik onena egin zuen Anberesen,
      Munduko Kopari dagokionean. 23.gelditu zen azken proban. Sailkapen
      orokorrean, 24.postua eskuratu du Susperregik.</p>
</article>
{% endfor %}

{% include 'pagination.html' with page_obj=page_obj only %}

{% endblock content %}
