{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ season }}{% endblock title %}

{% block content %}
<section class="matches">
  <h1>{{ season.championship }}</h1>
  <h2>{{ season }}</h2>

  <table>
    <thead>
      <tr>
        <th>{% trans 'Position' %}</th>
        <th>{% trans 'Team' %}</th>
        <th>{% trans 'Points' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for team_classification in season.teamclassification_set.select_related %}
      <tr>
        <th class="match_points">{{ forloop.counter }}</th>
        <th class="match_team">{{ team_classification.team }}</th>
        <th class="match_points">{{ team_classification.points }}</th>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="pagination">
    <span class="step-links">
      {% if season.previous %}
      <a class="previous" href="{{ season.previous.get_absolute_url }}">{{ season.previous }}&gt</a>
      {% endif %}
      {% if season.next %}
      <a class="next" href="{{ season.next.get_absolute_url }}">&lt{{ season.next }}</a>
      {% endif %}
    </span>
  </div>

</section>

{% for match in season.match_set.select_related %}
{{ match }}
{% endfor %}

{% endblock content %}
