{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Latest Match Results' %}{% endblock title %}

{% block content %}
{% for season in seasons %}
<div class="seasons">
  <section class="results">
    <h1>{{ season }}</h1>
    {% for match in season.match_set.select_related %}
    <ul class="matchResult {% if match.is_antagonistic %}antagonistic{% endif %}">
      {% for team_result in match.teamresult_set.select_related %}
      <li {% if team_result.team.town %}class="local"{% endif %}>{{ team_result.team }} <span class="matchPoints">{{ team_result.points }}</span></li>
      {% endfor %}
    </ul>
    {% endfor %}
  </section>

  <section class="classification">
    <h1>{{ season.championship }}</h1>

    <table>
      <thead>
        <tr>
          <th>{% trans 'Position' %}</th>
          <th>{% trans 'Team' %}</th>
          <th>{% trans 'Points' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for team_classification in season.teamclassification_set.select_related %}
        <tr>
          <th class="matchPoints">{{ forloop.counter }}</th>
          <th class="matchTeam {% if team_classification.team.town %}local{% endif %}">{{ team_classification.team }}</th>
          <th class="matchPoints">{{ team_classification.points }}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  <div class="pagination">
    <span class="step-links">
      {% if season.previous %}
      <a class="previous" href="{{ season.previous.get_absolute_url }}">{{ season.previous }}&gt</a>
      {% endif %}
      {% if season.next %}
      <a class="next" href="{{ season.next.get_absolute_url }}">&lt{{ season.next }}</a>
      {% endif %}
    </span>
  </div>
</div>
{% endfor %}

{% include 'pagination.html' with page_obj=page_obj only %}

{% endblock content %}
